# Ignore everything
*

# But not these:
!.gitignore

!README.md

!Approximant
!Approximant/Approximant_Bandstructure.py
!Approximant/Approximant_Curvature.py
!Approximant/Approximant_Vectors.py
!Approximant/Generate_Combined_Data.py
!Approximant/Plot_Approximant_Bandstructure.py
!Approximant/Plot_Approximant_Curvature.py
!Approximant/Plot_Phase_Diagram.py
!Approximant/Trends.py

!Updated\ Geometry
!Updated\ Geometry/Calc_Bandstructure.py
!Updated\ Geometry/Calc_Curvature.py
!Updated\ Geometry/Generate_Data.py
!Updated\ Geometry/Plot_Bandstructure.py
!Updated\ Geometry/Plot_Curvature.py
!Updated\ Geometry/Plot_N_bands.py
!Updated\ Geometry/QBZ_Bandstructure.py
!Updated\ Geometry/Symmetries.py


